<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/more"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ACCOUNTS.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToNew()" [attr.aria-label]="'COMMON.ADD' | translate">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="loading" class="ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
    <p>{{ 'ACCOUNTS.LOADING' | translate }}</p>
  </div>

  <div *ngIf="error" class="ion-padding">
    <p class="ion-text-color-danger">{{ error }}</p>
    <ion-button expand="block" (click)="load()">{{ 'COMMON.RETRY' | translate }}</ion-button>
  </div>

  <ion-list lines="full" *ngIf="!loading && !error && accounts.length > 0">
    <ion-item *ngFor="let a of accounts" button (click)="goToEdit(a.id)">
      <ion-label>
        <h2>{{ a.name }}</h2>
        <p>{{ a.currencyCode }}</p>
      </ion-label>
      <ion-note slot="end">{{ formatMoney(a.balance, a.currencyCode) }}</ion-note>
    </ion-item>
  </ion-list>

  <div *ngIf="!loading && !error && accounts.length === 0" class="ion-padding">
    <p>{{ 'ACCOUNTS.NO_ACCOUNTS' | translate }}</p>
    <ion-button expand="block" (click)="goToNew()">{{ 'COMMON.ADD' | translate }}</ion-button>
  </div>
</ion-content>
