<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accounts"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ id == null ? ('ACCOUNT_FORM.NEW_TITLE' | translate) : ('ACCOUNT_FORM.EDIT_TITLE' | translate) }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label position="stacked">{{ 'ACCOUNT_FORM.NAME' | translate }}</ion-label>
      <ion-input [(ngModel)]="name" type="text" [placeholder]="'ACCOUNT_FORM.NAME_PLACEHOLDER' | translate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'ACCOUNT_FORM.CURRENCY' | translate }}</ion-label>
      <ion-select [(ngModel)]="currencyCode" interface="action-sheet">
        <ion-select-option *ngFor="let c of currencies" [value]="c">{{ c }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="save()" [disabled]="saving || !name.trim()">
      {{ 'COMMON.SAVE' | translate }}
    </ion-button>
    <ion-button expand="block" fill="outline" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</ion-button>
    <ion-button *ngIf="id != null" expand="block" fill="outline" color="danger" (click)="confirmDelete()">{{ 'COMMON.DELETE' | translate }}</ion-button>
  </div>
</ion-content>
