<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/accounts"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ id == null ? ('ACCOUNT_FORM.NEW_TITLE' | translate) : ('ACCOUNT_FORM.EDIT_TITLE' | translate) }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label position="stacked">{{ 'ACCOUNT_FORM.NAME' | translate }}</ion-label>
      <ion-input [(ngModel)]="name" type="text" [placeholder]="'ACCOUNT_FORM.NAME_PLACEHOLDER' | translate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'ACCOUNT_FORM.CURRENCY' | translate }}</ion-label>
      <ion-select [(ngModel)]="currencyCode" interface="action-sheet">
        <ion-select-option *ngFor="let c of currencies" [value]="c">{{ c }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">{{ 'CATEGORY_FORM.ICON' | translate }}</ion-label>
    </ion-item>
    <div class="icon-grid">
      <button
        *ngFor="let opt of iconOptions"
        type="button"
        class="icon-option"
        [class.selected]="icon === opt"
        [style.color]="icon === opt ? color : ''"
        [attr.aria-label]="opt"
        (click)="icon = opt"
      >
        <ion-icon [name]="opt"></ion-icon>
      </button>
    </div>
    <ion-item>
      <ion-label position="stacked">{{ 'CATEGORY_FORM.COLOR' | translate }}</ion-label>
      <ion-input [(ngModel)]="color" type="color"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="save()" [disabled]="saving || !name.trim()">
      {{ 'COMMON.SAVE' | translate }}
    </ion-button>
    <ion-button expand="block" fill="outline" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</ion-button>
    <ion-button *ngIf="id != null" expand="block" fill="outline" color="danger" (click)="confirmDelete()">{{ 'COMMON.DELETE' | translate }}</ion-button>
  </div>
</ion-content>
