<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/budgets"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ id == null ? 'Nuevo presupuesto' : 'Editar presupuesto' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Categoría</ion-label>
      <ion-select [(ngModel)]="categoryId" interface="action-sheet">
        <ion-select-option *ngFor="let c of categories" [value]="c.id">{{ getCategoryName(c) }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Límite mensual</ion-label>
      <ion-input [(ngModel)]="amountLimit" type="number" min="0" step="0.01"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Aviso al %</ion-label>
      <ion-range [(ngModel)]="alertThresholdPercent" min="1" max="100" step="5" snaps="true"></ion-range>
      <ion-note slot="end">{{ alertThresholdPercent }}%</ion-note>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="save()" [disabled]="saving || categoryId == null || amountLimit <= 0">
      {{ 'COMMON.SAVE' | translate }}
    </ion-button>
    <ion-button expand="block" fill="outline" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</ion-button>
  </div>
</ion-content>
