<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'TRANSFER.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding" *ngIf="accounts.length < 2">
    <p>{{ 'TRANSFER.NEED_TWO_ACCOUNTS' | translate }}</p>
    <ion-button expand="block" fill="outline" (click)="cancel()">{{ 'COMMON.BACK' | translate }}</ion-button>
  </div>
  <ion-list class="ion-padding" *ngIf="accounts.length >= 2">
    <ion-item>
      <ion-label position="stacked">{{ 'TRANSFER.FROM' | translate }}</ion-label>
      <ion-select [(ngModel)]="fromAccountId" interface="action-sheet">
        <ion-select-option *ngFor="let a of accounts" [value]="a.id">{{ a.name }} ({{ a.currencyCode }})</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'TRANSFER.TO' | translate }}</ion-label>
      <ion-select [(ngModel)]="toAccountId" interface="action-sheet">
        <ion-select-option *ngFor="let a of accounts" [value]="a.id">{{ a.name }} ({{ a.currencyCode }})</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'MOVEMENT_FORM.AMOUNT' | translate }}</ion-label>
      <ion-input [(ngModel)]="amount" type="number" min="0" step="0.01" placeholder="0.00"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'MOVEMENT_FORM.DATE' | translate }}</ion-label>
      <ion-input [(ngModel)]="transferDate" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'MOVEMENT_FORM.NOTE' | translate }}</ion-label>
      <ion-input [(ngModel)]="note" type="text" [placeholder]="'MOVEMENT_FORM.NOTE_PLACEHOLDER' | translate"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding" *ngIf="accounts.length >= 2">
    <ion-button expand="block" (click)="save()" [disabled]="saving || !canSave">
      {{ 'TRANSFER.EXECUTE' | translate }}
    </ion-button>
    <ion-button expand="block" fill="outline" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</ion-button>
  </div>
</ion-content>
